@model IEnumerable<Takim>

<h2>Takım Listesi</h2>
<a href="/Takim/Create" class=" btn btn-primary">Takım Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Id) </th>
            <th>@Html.DisplayNameFor(m => m.TakimAdi)</th>
            <th style="width: 150px;"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id) </td>
                <td>@Html.DisplayFor(modelItem => item.TakimAdi) </td>
                <td>
                    <a asp-controller="Takim" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Düzenleme</a>

                </td>

            </tr>
        }
    </tbody>
</table>
