@model IEnumerable<TakimKayit>

    <h2> Kayıtlı Takımlar</h2>
<a href="/TakimKayit/Create" class=" btn btn-primary">Takım Kayıt</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m => m.TakimKayitId)</th>
                <th>@Html.DisplayNameFor(m => m.Personel.PersonelId)</th>
            <th>@Html.DisplayNameFor(m => m.Takim.Id)</th>
            <th style=" width: 150px;">   </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem =>item.TakimKayitId) </td>
                <td>@Html.DisplayFor(modelItem => item.Personel.PersonelId) </td>
                <td>@Html.DisplayFor(modelItem => item.Takim.Id) </td>
                <td>
                    <a  asp-action="Edit" asp-route-id="@item.PersonelId" class="btn btn-sm btn-primary">Düzenleme</a>
                    <a  asp-action="Delete" asp-route-id="@item.PersonelId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
        </tbody>
    </table>